.app{
  height: calc(100vh - var(--header-height));
}

.header{
  background-color: var(--color-navy);
  height: var(--header-height);
  display: flex;
  align-items: center;
}


.header-title{
  color: white;
  font-size: 1rem;
  padding-left: 10px;
  font-size: 1rem;
  letter-spacing: 0.3ch;
}

.header-title::first-letter{
  font-size: 1.5rem;
}